<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">Team Manner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/foundation.min.css" rel="stylesheet" media="screen" th:href="@{/css/foundation.min.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>
    <script src="../../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
</head>
<body>
    <header th:replace="layout/header :: top-bar">Top-bar</header>
    <div class="row">
        <div id="side-bar" class="medium-2 columns" th:include="layout/side-bar :: side-bar"></div>
        <div id="content" class="medium-10 columns">
            <table id="items">
                <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="55%">Content</th>
                    <th width="15%">Owner</th>
                    <th width="15%">Creator</th>
                    <th width="5%">Status</th>
                    <th width="5%">Percentage</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, status : ${items}" >
                    <td th:text="${status.count}"></td>
                    <td th:text="${item.content}">Content goes here</td>
                    <td th:text="${item.owner.username}">Owner goes here</td>
                    <td th:text="${item.createdBy.username}">Creator goes here</td>
                    <td th:text="${item.status}">Status goes here</td>
                    <td th:text="${item.percentage}">Percentage goes here</td>
                    <!--<td><span th:if="${user.role==T(com.hp.manner.model.Role).ADMIN}" class="label label-info">Admin</span></td>-->
                </tr>
                </tbody>
            </table>
            <a href="#" class="button" th:href="@{'/group/' + ${groupId} + '/item'}">Create New Item</a>
        </div>
    </div>
    <footer th:replace="layout/footer :: footer">Footer</footer>
<script src="../../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="../../static/js/foundation.min.js" th:src="@{/js/foundation.min.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>