<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{app.name}">Team Manner</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/foundation.min.css" rel="stylesheet" media="screen" th:href="@{/css/foundation.min.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>
    <script src="../../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
</head>
<body>
    <header th:replace="layout/header :: top-bar">Top-bar</header>
    <div class="row">
        <div id="side-bar" class="medium-2 columns" th:include="layout/side-bar :: side-bar"></div>
        <div id="content" class="medium-10 columns">
            <table id="items">
                <thead>
                <tr>
                    <th width="5%">#</th>
                    <th width="55%">Content</th>
                    <th width="10%">Owner</th>
                    <th width="10%">Creator</th>
                    <th width="5%">Priority</th>
                    <th width="5%">Status</th>
                    <th width="5%">Percentage</th>
                    <th width="5%"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item, status : ${page.content}" >
                    <td th:text="${status.count}"></td>
                    <td th:text="${item.content}">Content goes here</td>
                    <td th:text="${item.owner.username}">Owner goes here</td>
                    <td th:text="${item.createdBy.username}">Creator goes here</td>
                    <td><span class="label" th:text="${item.priority}"></span></td>
                    <td th:text="${item.status}">Status goes here</td>
                    <td class="text-center" th:text="${item.percentage + '&#37;'}">Percentage goes here</td>
                    <td><a th:href="@{|/group/${groupId}/item/${item.id}|}">...</a></td>
                </tr>
                </tbody>
            </table>
            <!-- Pagination Bar -->
            <div th:fragment="paginationbar">
                <div class="pagination-centered">
                    <ul class="pagination">
                        <li th:class="${page.hasPrevious()}? 'arrow' : 'arrow unavailable'">
                            <a aria-disabled="true" th:if="${not page.hasPrevious()}">&laquo; Previous</a>
                            <a href="#" th:if="${page.hasPrevious()}" th:href="@{|/group/${groupId}/items|(startPage=${page.getNumber()-1})}">&laquo; Previous</a>
                        </li>
                        <li class="unavailable"><a aria-disabled="true">|</a></li>
                        <li th:class="${page.hasNext()}? 'arrow' : 'arrow unavailable'">
                            <a aria-disabled="true" th:if="${not page.hasNext()}">Next &raquo;</a>
                            <a href="#" th:if="${page.hasNext()}" th:href="@{|/group/${groupId}/items|(startPage=${page.getNumber()+1})}">Next &raquo;</a>
                        </li>
                    </ul>
                </div>
            </div>

            <a href="#" class="button" th:href="@{|/group/${groupId}/item|}">Create New Item</a>
        </div>
    </div>
    <footer th:replace="layout/footer :: footer">Footer</footer>
<script src="../../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="../../static/js/foundation.min.js" th:src="@{/js/foundation.min.js}"></script>
<script src="../../static/js/app.js" th:src="@{/js/app.js}"></script>
</body>
</html>