<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
<header id="top-bar" th:fragment="topbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" th:href="@{/}">Team Manner</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <!--<ul class="nav navbar-nav">-->
                    <!--<li class="active"><a href="#">Home</a></li>-->
                    <!--<li><a href="#">About</a></li>-->
                    <!--<li><a href="#">Contact</a></li>-->
                <!--</ul>-->

                <ul sec:authorize="hasRole('ROLE_USER')" class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text" th:text="${'Hi, ' + #authentication.name}">Username</p></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Settings <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#" onclick="$('#signout-form').submit();">Sign out</a></li>
                        </ul>
                    </li>
                </ul>

                <ul sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav navbar-nav navbar-right">
                    <li><a href="#" th:href="@{/signin}">Sign in</a></li>
                    <li><a href="#" th:href="@{/signup}">Sign up</a></li>
                </ul>

                <form id="signout-form" th:action="@{/signout}" method="post" role="form"></form>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</header>

<script src="../../static/bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

</body>
</html>