<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Header</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/css/foundation.min.css" rel="stylesheet" media="screen" th:href="@{/css/foundation.min.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>
    <script src="../../static/js/vendor/modernizr.js" th:src="@{/js/vendor/modernizr.js}"></script>
</head>
<body>
<header class="fixed" th:fragment="top-bar">
    <nav id="top-bar" class="top-bar" data-topbar="" role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">Manner</a></h1>
            </li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul sec:authorize="hasRole('ROLE_USER')" class="right">
                <li class="divider"></li>
                <li><a href="#" class="disabled" th:text="${#authentication.name}"></a></li>
                <li class="divider"></li>
                <li class="has-dropdown">
                    <a href="#">Settings</a>
                    <ul class="dropdown">
                        <li><a href="#">Change Password</a></li>
                        <li><a href="#" onclick="$('#signout-form').submit();">Sign Out</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
            </ul>
            <ul sec:authorize="hasRole('ROLE_ANONYMOUS')" class="right navbar-btn">
                <li><a href="#" th:href="@{/signin}" class="button">Sign In</a></li>
                <li><a href="#" th:href="@{/signup}" class="button success">Sign Up</a></li>
            </ul>
        </section>
    </nav>
    <form id="signout-form" th:action="@{/signout}" method="post" role="form"></form>
</header>
<script src="../../static/js/vendor/jquery.js" th:src="@{/js/vendor/jquery.js}"></script>
<script src="../../static/js/foundation.min.js" th:src="@{/js/foundation.min.js}"></script>
<script>
    $(document).foundation();
</script>
</body>
</html>