<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Side Bar</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link href="../../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
<div id="side-bar" th:fragment="sidebar">
    <ul class="side-nav">
        <li class="heading">Groups</li>
        <li><a href="#" data-reveal-id="add-group-modal">Add Group</a></li>
        <li th:if="${groups.size()>0}" th:each="group : ${groups}" th:class="${group.id==groupId}? 'active' : ''">
            <a href="#" th:text="${group.name}" th:href="@{'/group/' + ${group.id} + '/items'}">Group Name</a>
        </li>
    </ul>
    <div id="add-group-modal" class="reveal-modal small" data-reveal="" th:include="user/add-group :: add-group-modal"></div>
</div>

<script src="../../static/bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
<script src="../../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

</body>
</html>