<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{error}">Error</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/css/foundation.min.css" rel="stylesheet" media="screen" th:href="@{/css/foundation.min.css}"/>
    <link href="../static/css/app.css" rel="stylesheet" media="screen" th:href="@{/css/app.css}"/>
</head>
<body>

    <div th:text="|${status} - ${error}|">Message</div>
    <div th:text="${message}">Message</div>

</body>
</html>