<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login}">Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.min.css}"/>
    <link href="../static/css/app.css" rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
    <header th:replace="layout/header :: top-bar"></header>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Please Login</h3>
            </div>
            <div class="panel-body">
                <form th:action="@{/signin}" method="post" role="form">
                    <div th:if="${param.error}" class="alert alert-danger alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Invalid username and password.
                    </div>
                    <div th:if="${param.signout}" class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        You have been signed out.
                    </div>
                    <div class="form-group">
                        <label for="username">Username or Email Address:</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div>
                            <input type="text" id="username" name="username" class="form-control" placeholder="Username or Email Address" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <div class="input-group">
                            <div class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></div>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="required"/>
                        </div>
                    </div>
                    <div class="checkbox">
                        <label for="remember-me-checkbox">
                            <input type="checkbox" id="remember-me-checkbox" name="_spring_security_remember_me" data-toggle="checkbox"/>Remember Me
                        </label>
                        <a href="#" class="right">Forgot Password?</a>
                    </div>
                    <input type="submit" value="Sign In" class="btn btn-primary btn-block"/>
                </form>
            </div>
            <div class="panel-footer text-center">
                <a href="#" th:href="@{/signup}">Don't have an account? Register</a>
            </div>
            </div><!-- end panel-->
        </div>
    </div><!-- end container -->
    <footer th:replace="layout/footer :: footer">Footer</footer>

    <script src="../static/bower_components/jquery/dist/jquery.min.js" th:src="@{/bower_components/jquery/dist/jquery.min.js}"></script>
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js" th:src="@{/bower_components/bootstrap/dist/js/bootstrap.min.js}"></script>

</body>
</html>